/* body {
    background-image: url('./assets/herbs_wallpaper.jpg');
    margin: 0;
} */

/* successful order page */

.successful-order-info {
  background-color: rgba(228, 243, 243, 0.878);
  margin: 25px;
  padding: 15px 40px;
  border-radius: 8px;
  border: 1px solid #2ecccc;
}

.successful-order-info {
  font-size: 1.3em;
}

.ordered-items-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  overflow: auto;
  width: 90vw;
  margin: 25px;
  padding: 15px 40px;
  justify-content: center;
}

.ordered-item {
  border: 1px solid #bbbbbb;
  background-color: rgba(232, 238, 239, 0.872);
  border-radius: 8px;
  overflow: hidden;
  margin: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 18vw;
}

.ordered-item h4 {
  padding: 4px 7px;
  background-color: rgba(157, 242, 181, 0.274);
}

.ordered-item img {
  width: 100%;
}

.ordered-item p {
  text-align: center;
}

.ordered-item:hover {
  border: 1px solid #2ecccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
