@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

 body {
  background-image: url('./assets/wp2136802.jpg');
  background-position: top;
  margin: 10;
  background-color: hsla(153, 96%, 82%, 0.278);
  height: auto;
}  

.navbar {
  background-color: #3e9e77 !important;
  color: aquamarine;
}

.navfooter {
  background-color: #3e9e77 !important;
}

.text-underline-hover:hover {
  text-decoration: underline;
  cursor: pointer;
}

.shop {
  background-image: url('./assets/wood.jpg');
  background-position: top;
}

.blog-home {
  color: whitesmoke;
}

.blog-title {
  color: whitesmoke;
}