@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

/* body {
    background-image: url('./assets/herbs_wallpaper.jpg');
    margin: 0;
} */