/* Card css */

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 16px;
  width: 250px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  justify-content: space-between;
}

.card-image {
  width: 100%;
}

.card-content {
  padding: 10px;
  text-align: center;
}

.card-title {
  font-size: 1.2em;
  margin-bottom: 8px;
}

.card-price {
  font-size: 1.1em;
  color: #007bff;
}

/* Quantity-selector css */

.quantity-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.quantity-selector button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
}

.quantity-selector button:hover {
  background-color: #0056b3;
}

.quantity-input {
  width: 30px;
  text-align: center;
  margin: 0 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px;
  font-size: 1em;
}

/* Add to cart css */

.card-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
}

.card-button:hover {
  background-color: #0056b3;
}
